<div class="container">
  <div class="row">
    <div class="col s12">

{{#md-card title='Organizations' as |c|}}
  {{#c.content}}
    {{#md-collection as |c|}}
      {{#each model as |org|}}
      {{#c.link-to 'org.repos' org.id class='avatar'}}
        <img src={{org.iconUrl}} alt="" class='circle'>
        <span class="title">{{org.name}}</span>
      {{/c.link-to}}
      {{/each}}
    {{/md-collection}}
  {{/c.content}}
{{/md-card}}



    </div>
  </div>
</div>
